extends layouts/layout

block content
	div(layout="column")
		section(layout="row")
			md-toolbar(layout="row", layout-padding="true")
				div(flex="90") Angular Bar
				div(flex="true")

		md-whiteframe(class="md-whiteframe-z", layout="row")
			div(flex="15", layout-padding="true")
				md-list
					md-input-container(class="custom-search")
						label Search
						input.form-control(type="text", name="search")
					md-item-content(class="md-tile-content ") 
						a(href="#") Home
					md-divider
					

			div(flex="true", layout-padding="true")
				div(ng-view="ng-view")
